<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/fonts.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/events.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Events</title>
</head>
<body class="">
    <nav class="navbar navbar-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Health Fiesta</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
                aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                    <h1 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h1>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Scan QR</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/leaderboard">Steps Leaderboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/profile">Profile</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <main>
        <ol class="w-100 px-3 pt-3">
            <div class="event-container">
                <h3 class="event-heading">1) Snap Challenge</h3>
                <p class="event-timing">Timing: Entire Day</p>
                <p class="event-desc">
                    Capture the essence of wellness! Snap a creative photo while taking
                    the stairs, eating something nutritous or cuddling with cute puppies
                </p>
            </div>
            <div class="event-container">
                <h3 class="event-heading pt-3">2) Melody Unwind</h3>
                <p class="event-timing">Timing: 1:00-1:45</p>
                <p class="event-desc">
                    Enjoy soothing light music that calms and rejuvenates your mind and soul.
                </p>
            </div>
            <div class="event-container">
                <h3 class="event-heading pt-3">3) Step-Up</h3>
                <p class="event-timing">Timing: Entire Day</p>
                <p class="event-desc">
                    Climb the most stairs in the Staircase Challenge and get featured!
                </p>
            </div>
            <div class="event-container">
                <h3 class="event-heading pt-3">4) Scramble Scrable</h3>
                <p class="event-timing">Timing: 3:00-4:00</p>
                <p class="event-desc">
                    Answer questions on nutrition, exercise and healthy living for a chance to win an exciting prize pool.
                </p>
            </div>
            <div class="event-container">
                <h3 class="event-heading pt-3">5) Nutri-Chat</h3>
                <p class="event-timing">Timing: 1:45-2:45</p>
                <p class="event-desc">
                    Connect with a nutrition expert for valuable tips on healthy eating and get answers to your burning questions
                </p>
            </div>
            <div class="event-container">
                <h3 class="event-heading pt-3">6) Pose & Peace yoga Challenge</h3>
                <p class="event-timing">Timing: 10:15-10:45</p>
                <p class="event-desc">
                    Balance your way through a series of challenging yoga poses and get a change to win fun prizes
                </p>
            </div>
        </ol>
    </main>
</body>
</html>
