<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/css/fonts.css"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/events.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Events</title>
</head>

<body class="">
    <nav class="navbar navbar-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Health Fiesta</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
                aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                    <h1 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h1>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Scan QR</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/leaderboard">Steps Leaderboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/profile">Profile</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <main>
        <ol class="w-100 px-3 pt-3">
            <div class="event-container">
                <h3 class="event-heading">🌀 Fit n' Lit Challenge</h3>
                <p class="event-timing">Timing: Short Break</p>
                <p class="event-desc">
                    Test your strength and skills with simple yet super fun fitness challenges! Will you crush it or be
                    left catching your breath?
                </p>
            </div>
            <div class="event-container">
                <h3 class="event-heading pt-3">🎤 Groove & Chill Jam Session</h3>
                <p class="event-timing">Timing: Lunch Break</p>
                <p class="event-desc">
                    Need a little lunch break magic? Join us for some relaxing music therapy that'll soothe your
                    soul and maybe even make you sway a little!
                </p>
            </div>
            <div class="event-container">
                <h3 class="event-heading pt-3">🏃‍♂️ Take the Stairway Challenge</h3>
                <p class="event-timing">Timing: Entire Day</p>
                <p class="event-desc">
                    No lifts allowed at all! It's time to conquer those stairs—track your steps, beat your
                    friends, and own the leaderboard!
                </p>
            </div>
            <div class="event-container">
                <h3 class="event-heading pt-3">📸 Snap Challenge</h3>
                <p class="event-timing">Timing: Entire Day</p>
                <p class="event-desc">
                    Catch your healthiest moment on camera, post it on your Insta story, and tag us to get
                    featured on our official page!
                </p>
            </div>
            <div class="event-container">
                <h3 class="event-heading pt-3">🍔 Canteen Takeover</h3>
                <p class="event-timing">Timing: Full Day</p>
                <p class="event-desc">
                    Get ready for a food revolution! The canteen menu will take a flip for the day—no junk food
                    allowed! Keep it clean, eat lean, and fuel up the right way!
                </p>
            </div>
            <div class="event-container">
                <h3 class="event-heading pt-3">🎯 Scrabble Scramble</h3>
                <p class="event-timing">Timing: 3:30-4:30</p>
                <p class="event-desc">
                    Put your brain to the test in this wordy showdown and grab your share of the ₹3000 prize
                    pool! Ready to scramble your way to the top?
                </p>
            </div>
        </ol>
    </main>
</body>

</html>
