<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
</head>
<body>
    <h2>Name: <%= name %></h2>
    <h4>SRN/PRN: <%= srn %></h4>
    <h4>Email ID: <%= email %></h4>
    <h3>Current Steps: <%= steps %></h3>

    <form method="post">
        <button type="submit">Logout</button>
    </form>
</body>
</html>
