<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/srnValidation.js" defer></script>
    <title>SRN</title>
</head>
<body>
    <h4>Just one more step,</h4>
    <form method="POST">
        <label for="name">Name: </label>
        <input type="text" name="name" id="name-inp">
        <label for="srn">SRN/PRN: </label>
        <input type="text" name="srn" id="srn-inp">
        <button type="submit">Submit</button>
    </form>
</body>
</html>
