body {
    background-color: #ddf8ff;
}

main {
    background-color: #ddf8ff;
    color: #1a3c3c;
    margin-top: 75px;
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 400;
}

ul {
    padding: 0 !important;
}

.event-container {
    margin-bottom: 2em;
}

.event-heading {
    font-size: 1.75em;
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 700;
    margin: 0;
}

.event-timing {
    font-size: 14px;
}

.event-desc {
    font-size: 18px;
}
