body {
    background-color: #ddf8ff;
    color: #1a3c3c;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    /* background-color: #03697b; Blue from the poster */
}

main>h1 {
    font-size: 2em;
    margin-top: 1.25em;
    font-family: "Bricolage Grotesque", sans-serif;
}

main>p {
    font-size: 1.15em;
}

.qr-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #001f3d;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
    padding: 2em;
    border-radius: 15px;
}

#qrScanner {
    width: 100%;
}

.loader {
    position: absolute;
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
