body {
    font-family: "Space Mono", monospace;
    background-color: #265973;
}

nav {
    background-color: #005f8f;
    color: #ccffff;
}

.navbar-brand {
    padding: 0;
}

.top-content {
    background-color: #005f8f;
    color: #ccffff;
}

.top-content > h1 {
    /* color: #ffe16b; ardra */
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 2em;
    font-weight: 900;
}

.top-content > p {
    font-size: 1.1em;
    line-height: 1.6em;
}

.sign-in-btn {
    background-color: #ccffff;
    color: #005f8f;
    border: 0;
    height: 50px;
    border-radius: 5px;
}

.bottom-content {
    background-color: #265973;
    /* background-color: #03697b; ardra */
    color: #ccffff;
}

.upcoming {
    font-size: 0.9em;
}

.bottom-main {
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 2em;
    font-weight: 900;
    /* color: #ffe16b; ardra */
}

.bottom-p {
    font-size: 1.1em;
    line-height: 1.6em;
}

.event-heading {
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 900;
    /* color: #ffe16b; ardra */
}
