.navbar {
    height: 75px !important;
    background-color: #1a3c3c;
    font-family: "Bricolage Grotesque", sans-serif;
}

.nav-link {
    font-size: 1.1em;
}

.navbar-brand {
    color: #ddf8ff !important;
    font-family: "Bricolage Grotesque";
    font-weight: 900;
}

.offcanvas {
    background-color: #1a3c3c !important;
}

.offcanvas-title {
    font-family: "Bricolage Grotesque";
    font-weight: 900;
    color: #ddf8ff !important;
    font-size: 2.5em;
}
